[Unit]
Description=DarkIce Service
After=network.target sound.target

[Service]
ExecStart=/usr/bin/darkice -c /etc/darkice/darkice.cfg
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target