[Unit]
Description=Stream Manager
After=network.target sound.target

[Service]
ExecStartPre=/bin/bash -c 'pgrep darkice || systemctl start darkice'
ExecStartPre=/bin/bash -c 'pgrep ffmpeg || echo "Starting FFmpeg if configured separately."'
ExecStart=/bin/bash -c 'source /app/env/bin/activate && python /app/webserver.py'
WorkingDirectory=/app
User=root
Group=root
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target